@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300, 400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  background-image: url(./image/macbook_mouse.jpg);
  background-attachment: fixed;
  background-position: 100% 80%;
  background-size: cover;
  filter: opacity(0.8);
  height: 27rem;
  padding: 2rem;
}

.nav-list {
  display: flex;
  width: 33rem;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
}

header a {
  text-decoration: none;
  color: #ebe7e7;
}

header a:hover {
  text-decoration: underline;
}

header > div {
  text-align: center;
  color: #ebe7e7;
}

header h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 6rem;
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icons i {
  font-size: 1.2rem;
  padding: 1rem 0;
  width: 2.7rem;
  text-align: center;
}

.social-icons i:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 1rem rgba(239, 237, 237, 0.9);
}

/* About section */
#about {
  background: #fff;
}

.about {
  width: 70%;
  margin: auto;
  text-align: justify;
  padding-bottom: 4rem;
}

.profile-img {
  width: 15rem;
  margin: auto;
}

.about img {
  width: 15rem;
  height: 15rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  position: relative;
  bottom: 7rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
}

.about > p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #696868;
  margin-top: -50px;
}

.about span {
  color: #3e5e8f;
  font-weight: 600;
}

.section-heading {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: #2254a4;
}

.section-heading i {
  font-size: 3rem;
}

.section-heading h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Skills */
#skills {
  padding: 5rem 0;
  background: #eee;
}
.skills {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem auto 0;
}

.progress {
  width: 20%;
  height: 3rem !important;
  border-radius: 1.3rem !important;
  background: #d0d0d0 !important;
  box-shadow: inset 10px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #b3b0b0;
}

.progress-bar {
  text-align: left !important;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  overflow: visible !important;
}

/* Experience and Education */

#experience {
  padding: 5rem 0 0;
  background: #fff;
  position: relative;
}

#education {
  padding: 5rem 0 0;
  background: #eee;
  position: relative;
}

.timeline {
  position: relative;
  width: 75%;
  margin-top: 4rem;
}

.timeline-left-box {
  padding: 5px;
  width: 45%;
  min-height: 150px;
  position: relative;
  left: 20%;
  text-align: right;
}

.timeline-left-box::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.timeline-right-box {
  padding: 5px;
  width: 45%;
  min-height: 150px;
  position: relative;
  right: -75%;
  text-align: right;
}

.timeline-right-box::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.right::before {
  left: -13.8%;
}

.left::after {
  right: -12%;
}

.timeline-container {
  padding: 8px;
}

.timeline-logo {
  position: absolute;
  width: 50px;
  overflow: hidden;
}

.timeline-logo > img {
  width: 100%;
}

#experience-divider,
#education-divider {
  position: absolute;
  width: 0;
  top: 0;
  left: 69.4%;
  border: 1px dashed #0096fa6b;
  color: #433e3f;
}

#experience-divider {
  height: 70%;
}

#education-divider {
  height: 55%;
}

#experience-divider .experience-traveller,
#education-divider .education-traveller {
  position: sticky;
  top: 0px;
  z-index: 2;
}

#experience-divider i,
#education-divider i {
  transform: rotate(90deg);
  margin-top: -35px;
  display: block;
  color: #2857a4;
  font-size: 2rem;
}

.designation {
  font-size: 1.6rem;
  color: #2857a4;
  width: 90%;
  margin-left: 10%;
}

.stream {
  font-size: 1rem;
}

.heading-name {
  margin: 5px 0 0;
  color: #eb822d;
  font-weight: 400;
  font-size: 1.2rem;
}

.duration {
  color: #9e9b9b;
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}

.description {
  font-size: 14px;
  padding: 2px;
  color: grey;
  line-height: 20px;
  text-align: justify;
}

/* Projects */
#projects {
  padding: 5rem 0;
  background: #fff;
  margin-bottom: 5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  margin: 5rem;
}

.project {
  position: relative;
  width: 100%;
}

.project > img {
  width: 100%;
  height: 19rem;
}

.project:hover > img {
  box-shadow: 10px 10px 2rem rgba(0, 0, 0, 0.3);
}

.background {
  background-color: #000;
  filter: opacity(0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 19rem;
  opacity: 0.9;
}

.project-details {
  color: #00ffff;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 1rem;
  opacity: 1;
  width: 100%;
}

.project-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-head > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-links a {
  position: relative;
  text-decoration: none;
  color: #ffa500;
  cursor: pointer;
  transition: all 0.5s ease-in;
  padding: 0.2rem;
  z-index: 1;
}

.visit-links > a:first-child:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.visit-links > a:first-child:hover::after {
  right: 0;
  background: #000;
}

.visit-links > a > i {
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}

.visit-links > a > i:hover {
  transform: scale(1.2);
}

.project-head > h3 {
  font-size: 2rem;
  margin: 0;
  color: #32e532;
}

.project-desc > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: "- ";
}

/* Contact section */
#contact {
  padding: 5rem 0;
  background: linear-gradient(45deg, #2857a4, #3e3365);
  position: relative;
  color: #fff;
}

.contact-title {
  color: #fff;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  align-items: center;
  margin: 5rem 5rem 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.contact-field {
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #fff;
  padding-left: 0.7rem;
  margin-bottom: 1rem;
}

.contact-field:focus {
  outline: none;
}

form > input {
  line-height: 2.5rem;
}

form > textarea {
  line-height: 1.5rem;
}

form > textarea::-webkit-scrollbar {
  width: 3px;
}

form > textarea::-webkit-scrollbar-thumb {
  background: #888;
}

form > textarea::-webkit-scrollbar-track {
  background: #e6e3e3;
}

.submit-btn {
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-radius: 0.2rem;
  font-weight: 700;
  width: 30%;
  margin: 2rem auto;
  border: 2px solid #fff;
  color: #fff;
}

.submit-btn:hover {
  background-color: #fff;
  color: #2857a4;
}

.contact-details > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-details > div > p {
  margin: 0.5rem;
}

.contact-details > p {
  text-align: justify;
  margin: 1rem 0;
}

.contact-icons {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-between;
}

.contact-icons > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.contact-icons i {
  padding: 1rem 0;
  width: 3rem;
  text-align: center;
}

.contact-icons i:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 1rem rgba(239, 237, 237, 0.9);
}

#response-msg {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 6px;
  display: none;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  z-index: 50;
  top: 2rem;
  right: 2rem;
}

.error {
  color: #ef4444;
  border: 1px solid #ef4444;
  background: #fef2f2;
}
.success {
  color: #10b981;
  border: 1px solid #10b981;
  background: #ecfdf5;
}

/* Simple animation for showing message */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Simple animation for removing message */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-out forwards;
  display: block !important;
}

.fade-out {
  animation: fadeOut 0.4s ease-in forwards;
  display: block !important;
}

.fa-car-side:before {
  position: relative;
  left: 10px;
}

@media (min-width: 1550px) {
  .right::before {
    left: -13.3%;
    top: 20px;
  }

  .left::after {
    right: -11%;
  }
}

@media screen and (max-width: 1220px) {
  .project {
    width: 90%;
  }

  .project > img {
    height: 17rem;
  }

  .background {
    height: 17rem;
  }

  .project-head > h3 {
    font-size: 1.7rem;
  }

  .skills-used {
    display: grid;
  }

  .submit-btn {
    width: 40%;
  }
}

@media screen and (max-width: 990px) {
  #experience-divider {
    height: 74%;
  }

  .project > img {
    height: 12rem;
  }

  .background {
    height: 12rem;
  }

  .skills-used {
    display: none !important;
  }

  .project-head > h3 {
    font-size: 1.25rem;
  }

  .project-head {
    flex-direction: column-reverse;
  }

  .project-head > div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .submit-btn {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
    height: 25rem;
  }

  .about > p {
    line-height: 2.2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 3rem auto 3rem;
  }

  .progress {
    width: 100%;
  }

  .timeline-left-box,
  .timeline-right-box {
    left: 22%;
    right: auto;
    width: 100%;
  }

  #experience-divider,
  #education-divider {
    left: 17%;
  }

  #experience-divider {
    height: 69%;
  }

  .left::after,
  .right::before {
    right: auto;
    left: -7%;
  }

  #projects {
    height: 107rem;
    margin-bottom: 19rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
    margin: 2rem;
  }

  .project {
    width: 100%;
  }

  .project > img {
    height: 17rem;
  }

  .background {
    height: 17rem;
  }

  .skills-used {
    display: grid !important;
  }

  .contact {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 2rem;
  }

  .contact-icons {
    margin-top: 6rem;
    justify-content: center;
  }
}

@media screen and (max-width: 572px) {
  .nav-list {
    display: none;
  }

  .hamburger-menu {
    position: relative;
    display: block;
    text-align: right;
  }

  .hamburger-list {
    position: absolute;
    width: 7rem;
    background: #9c9e89;
    text-align: left;
    padding: 0.3rem 1rem;
    right: -0.5rem;
    font-weight: 400;
    font-size: 1.1rem;
  }

  header h1 {
    font-size: 3rem;
  }

  .about > p {
    line-height: 1.7rem;
    font-size: 1.1rem;
  }

  .section-heading i {
    font-size: 2rem;
  }

  .section-heading h1 {
    font-size: 2rem;
  }

  .skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-used {
    display: none !important;
  }

  .designation {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 20%;
  }

  .stream {
    width: 80%;
    margin-left: 20%;
  }

  .heading-name {
    font-size: 1rem;
  }

  .duration {
    font-size: 0.9rem;
  }

  .description {
    font-size: 13px;
  }

  .timeline-logo {
    top: 20px;
    width: 35px;
  }
}

@media (max-width: 400px) {
  header h1 {
    font-size: 2.7rem;
  }

  .project-desc > p {
    font-size: 14px;
  }

  .submit-btn {
    width: 75%;
  }
}
